/* *para mostrar mensajes */

.mensaje_llenar{
        background-color: #F1C40F;
        border: 1px solid #F1C40F;
        color: #333; /* Texto más oscuro */
        font-weight: bold; /* Texto en negrita */
        padding: 15px;
        margin-top: 20px;
    

}
.mensaje_exitoso {
    background-color: #239B56;
    border: 1px solid #239B56;
    color: #333; /* Texto más oscuro */
    font-weight: bold; /* Texto en negrita */
    padding: 15px;
    margin-top: 20px;
}


