.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.tarjeta{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 20px;  
}

.tarjeta img{
    width: 100%;
    height: auto;
}

.contenido{
    padding: 16px;

}

.contenido button{
    
}
/* Estilos mejorados para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    font-size: 14px; /* Ajusta el tamaño de fuente según tus necesidades */
}

th {
    background-color: #4285f4;
    /* Color de fondo del encabezado */
    color: #ffffff;
    /* Color del texto en el encabezado */
    font-weight: bold;
}

td {
    font-size: 14px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Color de fondo para filas pares */
}

tbody tr:hover {
    background-color: #e0e0e0;
    /* Color de fondo al pasar el mouse sobre una fila */
}

.btn-group-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group-vertical .btn {
    width: 100%;
    margin-bottom: 10px;
}

/* Estilos adicionales para pantallas pequeñas */
@media (max-width: 767px) {
    .table-responsive {
        overflow-x: auto;
    }

    /* Nuevos estilos para hacer la tabla completamente responsive */
    table,
    th,
    td {
        display: block;
    }

    th,
    td {
        white-space: nowrap;
    }

    tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        /* Agregar borde entre filas */
    }

    tbody tr td {
        display: block;
        box-sizing: border-box;
        width: 100%; /* Asegurar que las celdas ocupen el 100% del ancho */
    }

    tbody tr td:before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 6em;
        /* Ajusta el ancho según tus necesidades */
    }

    /* Ocultar encabezados en pantallas pequeñas */
    th {
        display: none;
    }
}
